@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
  font-family: 'Yusei Magic', sans-serif;

  /* background: url(../assets/benjamin-balazs-PgLOQTUsy1c-unsplash.jpg); */
  background-size: cover;
}

.container {
  background-color: rgba(51, 143, 169, 0.5);
  padding: 25px;
}
.six {
  background-color: rgba(51, 143, 169, 0.5);
  padding: 15px;
}
h1,
h2 {
  text-align: center;
}

#contenido {
  margin-top: 40px;
}
.borrar-tweet,
.borrar-tweet:hover {
  float: right;
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.error {
  background-color: red;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 400px;
  margin: 0 auto;
  color: white;
}
